@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700')

body
  font-family 'Montserrat', sans-serif
  /* 400 700 */
  font-size 16px

h2
  text-align right
  color #8b8585
  font-weight 700
  font-size 1.2em
  text-transform uppercase